<template>
  <q-page class="page-content bg-primary">
    <h3 class="text-white text-weight-light">CURRENCY CONVERTER</h3>

    <ConversionCard/>
    <StatisticsCard/>

  </q-page>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

import ConversionCard from 'components/ConversionCard.vue'
import StatisticsCard from 'components/StatisticsCard.vue'

export default defineComponent({
  name: 'PageIndex',
  components: { ConversionCard, StatisticsCard },
})
</script>

<style lang="scss" scoped>
@import 'src/css/quasar.variables';

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card + .card {
    margin-top: 32px;
  }
}
</style>
